{% extends 'base.html.twig' %}

{% block title %}Liste des annonces{% endblock %}

{% block body %}


    <div>
        <div class="d-flex justify-content-between">
            <h3>Annonces</h3>
            <div>
                {% if user %}
                    {{ user.username }}
                    <a class="btn btn-primary" href="{{path('app_logout')}}">Log out</a>
                {% else %}
                    <a class="btn btn-primary" href="{{path('login')}}">Login</a>
                    <a class="btn btn-primary" href="{{path('register')}}">Sign up</a>
                {% endif %}
            </div>
        </div>
        <div>
            <a class="btn btn-primary" href="{{path('new_annonce')}}">Add Annonce</a>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th width="15%">Titre</th>
                        <th width="10%">Category</th>
                        <th width="40%">Content</th>
                        <th width="5%">Prix</th>
                        <th width="8%">Code postal</th>
                        <th width="27%">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for annonce in annonces %}
                    <tr>
                        <td>{{ annonce.titre }}</td>
                        <td>{{ annonce.category.name }}</td>
                        <td>{{ annonce.contenu }}</td>
                        <td>{{ annonce.prix }}</td>
                        <td>{{ annonce.codePostal }}</td>
                        <td>
                            <a class="btn btn-primary" href="{{path('edit_annonce',{id:annonce.id})}}">Modifier</a>
                            <a class="btn btn-primary" href="{{path('delete_annonce',{id:annonce.id})}}">Supprimer</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                
            </div>
        </div>
    </div>

{% endblock %}
