{% extends 'base.html.twig' %}

{% block title %}Liste des annonces{% endblock %}

{% block body %}

    <style>
        .annonce {
            width: 500px;
            margin: 5px;
            padding: 5px;

            border: 1px solid black;
            border-radius : 4px;
        }

    </style>

    <div>
        <h3>Annonces</h3>
        <div>
            {% for annonce in annonces %}

                    <div class="annonce">
                        {{ annonce.titre }}
                        <p>{{ annonce.contenu }}</p>
                        <p>Prix : {{ annonce.prix }} € <p>
                        <p>Code Postal : {{ annonce.code_postal }}<p>
                        <p>Code Postal : {{ annonce.code_postal }}<p>
                    </div>

            {% endfor %}
        </div>
    </div>

{% endblock %}
